defaults:
  - _self_

method: semi-supervised-ensemble

train:
  total_epochs: 500
  validation_interval: 10

init:
  _target_: trainer.SemiSupervisedEnsemble
  supervised_criterion:
    _target_: torch.nn.MSELoss
  optimizer:
    _target_: torch.optim.AdamW
    _partial_: true
    lr: 0.00001
    weight_decay: 0.005
  scheduler:
    _target_: torch.optim.lr_scheduler.StepLR
    _partial_: true
    step_size: 50
    gamma: 0.8

    