defaults:
  - _self_

method: semi-supervised-ensemble

train:
  total_epochs: 400
  validation_interval: 10

init:
  _target_: trainer.SemiSupervisedEnsemble
  supervised_criterion:
    _target_: torch.nn.MSELoss
  optimizer:
    _target_: torch.optim.AdamW
    _partial_: true
    lr: 0.001 # TODO: change 4
    weight_decay: 0.005 # TODO: change 5
  scheduler:
    _target_: torch.optim.lr_scheduler.StepLR
    _partial_: true
    step_size: 20 # TODO: change 6
    gamma: 0.95 # TODO: change 7

    